<a href="https://colab.research.google.com/github/sabahomarkm/Improved-Cyber-Attack-Detection-using-Machine-Learning/blob/main/Random_Forest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install tensorflow-gpu

Collecting tensorflow-gpu
  Downloading https://files.pythonhosted.org/packages/1d/a2/5ccf0a418eb22e0a2ae9edc1e7f5456d0a4b8b49524572897564b4030a9b/tensorflow_gpu-2.5.0-cp37-cp37m-manylinux2010_x86_64.whl (454.3MB)
     |████████████████████████████████| 454.3MB 34kB/s
Requirement already satisfied: tensorboard~=2.5 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (2.5.0)
Requirement already satisfied: absl-py~=0.10 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (0.12.0)
Requirement already satisfied: termcolor~=1.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (1.1.0)
Requirement already satisfied: opt-einsum~=3.3.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (3.3.0)
Requirement already satisfied: flatbuffers~=1.12.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (1.12)
Requirement already satisfied: six~=1.15.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (1.15.0)
Requirement already satisfied: tensorflow-estimator<2.6.0,>=2.5.0rc0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (2.5.0)
Requirement already satisfied: wrapt~=1.12.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (1.12.1)
Requirement already satisfied: keras-nightly~=2.5.0.dev in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (2.5.0.dev2021032900)
Requirement already satisfied: keras-preprocessing~=1.1.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (1.1.2)
Requirement already satisfied: protobuf>=3.9.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (3.12.4)
Requirement already satisfied: astunparse~=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (1.6.3)
Requirement already satisfied: typing-extensions~=3.7.4 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (3.7.4.3)
Requirement already satisfied: grpcio~=1.34.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (1.34.1)
Requirement already satisfied: h5py~=3.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (3.1.0)
Requirement already satisfied: numpy~=1.19.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (1.19.5)
Requirement already satisfied: google-pasta~=0.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (0.2.0)
Requirement already satisfied: wheel~=0.35 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (0.36.2)
Requirement already satisfied: gast==0.4.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (0.4.0)
Requirement already satisfied: google-auth<2,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.5->tensorflow-gpu) (1.31.0)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.5->tensorflow-gpu) (2.23.0)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.5->tensorflow-gpu) (1.8.0)
Requirement already satisfied: setuptools>=41.0.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.5->tensorflow-gpu) (57.0.0)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.5->tensorflow-gpu) (1.0.1)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.5->tensorflow-gpu) (0.6.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.5->tensorflow-gpu) (0.4.4)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.5->tensorflow-gpu) (3.3.4)
Requirement already satisfied: cached-property; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from h5py~=3.1.0->tensorflow-gpu) (1.5.2)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3.6" in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard~=2.5->tensorflow-gpu) (4.7.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard~=2.5->tensorflow-gpu) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard~=2.5->tensorflow-gpu) (4.2.2)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.5->tensorflow-gpu) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.5->tensorflow-gpu) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.5->tensorflow-gpu) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.5->tensorflow-gpu) (2021.5.30)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.5->tensorflow-gpu) (1.3.0)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard~=2.5->tensorflow-gpu) (4.5.0)
Requirement already satisfied: pyasn1>=0.1.3 in /usr/local/lib/python3.7/dist-packages (from rsa<5,>=3.1.4; python_version >= "3.6"->google-auth<2,>=1.6.3->tensorboard~=2.5->tensorflow-gpu) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.5->tensorflow-gpu) (3.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->markdown>=2.6.8->tensorboard~=2.5->tensorflow-gpu) (3.4.1)
Installing collected packages: tensorflow-gpu
Successfully installed tensorflow-gpu-2.5.0

In [3]:
import pandas as pd
import numpy as np

In [4]:
from google.colab import  drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
df=pd.read_csv('/content/drive/MyDrive/Improved Cyber Attack Detection using Machine Learning/Dataset/Hz-CTU13_1.csv')
df.head()

             src  src_port  ... C_packets_urg_max  C_dst2src_pay_bytes_rate_min
0  147.32.84.165       137  ...                 0                             0
1  147.32.84.165      1025  ...                 0                             0
2  147.32.84.165      1027  ...                 0                             2
3  147.32.84.165       138  ...                 0                             0
4  147.32.84.165      1035  ...                 0                             0

[5 rows x 204 columns]

In [6]:
# checking number of rows and columns
df.shape

(12955, 204)

In [7]:
df.describe()

           src_port  ...  C_dst2src_pay_bytes_rate_min
count  12955.000000  ...                  12955.000000
mean    2723.592281  ...                      1.614898
std     1699.991656  ...                     21.697642
min        0.000000  ...                      0.000000
25%     2077.000000  ...                      0.000000
50%     2079.000000  ...                      0.000000
75%     3568.500000  ...                      0.000000
max    59230.000000  ...                   1011.000000

[8 rows x 196 columns]

In [9]:
#checking for null values 

null_countdf=df.isnull().mean()*100
null_countdf[null_countdf>0]

original_label      0.586646
event_generator    96.534157
event_signature    96.534157
event_priority     96.534157
dtype: float64

In [10]:
# since the columns event_generator,event_signature and event_priority are having more than 96% null values ,we will drop these columns

df.drop(['original_label','event_generator','event_signature','event_priority'],axis=1,inplace=True)

In [11]:
null_countdf=df.isnull().mean()*100
null_countdf[null_countdf>0]

Series([], dtype: float64)

In [12]:
#printing object column
objcolmns=df.select_dtypes(include='object').columns
objcolmns

Index(['src', 'dst', 'original_dataset', 'ndpi_risk', 'ndpi_detected_protocol',
       'protocol', 'http_content_type'],
      dtype='object')

In [14]:
#finding the count cotagorical value in each column
for objcol in objcolmns:
  print(objcol,"---",len(df[objcol].value_counts()))

src --- 93
dst --- 3795
original_dataset --- 1
ndpi_risk --- 4
ndpi_detected_protocol --- 24
protocol --- 4
http_content_type --- 15

In [16]:
#creating a list and adding column which contain morethan 10 catogorical value
lstnotreqcol=list()
for objcol in objcolmns:
  if len(df[objcol].value_counts())>10:
    lstnotreqcol.append(objcol)
lstnotreqcol

['src', 'dst', 'ndpi_detected_protocol', 'http_content_type']

In [17]:
# Droping column with more value counts
df.drop(lstnotreqcol,axis=1,inplace=True)
objcolumns=df.select_dtypes(include='object').columns
objcolumns

Index(['original_dataset', 'ndpi_risk', 'protocol'], dtype='object')

In [18]:
print(len(df['ndpi_risk'].value_counts()))
df['ndpi_risk'].value_counts()

4

Unrated       8214
Acceptable    4594
Safe           137
Unsafe          10
Name: ndpi_risk, dtype: int64

In [19]:
len(df.columns)

196

In [20]:
ndpiriskdf=pd.get_dummies(df['ndpi_risk'],drop_first=True)
ndpiriskdf.head()

   Safe  Unrated  Unsafe
0     0        0       0
1     0        0       0
2     1        0       0
3     0        0       0
4     0        0       0

In [21]:
df['protocol'].value_counts()

TCP     9066
UDP     3782
ICMP     105
254        2
Name: protocol, dtype: int64

In [22]:
protocoldf=pd.get_dummies(df['protocol'],drop_first=True)
protocoldf.head()

   ICMP  TCP  UDP
0     0    0    1
1     0    0    1
2     0    1    0
3     0    0    1
4     0    0    1